/* background styles */

.main {
  box-sizing: border-box;
  background: url(../images/leaf-motif.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

#container {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  justify-items: center;
  align-items: center;
  width: 85vw;
  height: 55vh;
  background-color: rgba(229, 220, 233, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* fortune styles */

#reveal-text {
  grid-row: 1/1;
  font-family: Sacramento, cursive;
  font-size: 10rem;
  font-style: italic;
  color: #332a2b;
  margin: 0px;
}

#button-container {
  grid-row: 2/2;
  height: 100%;
  margin: 0px;
}

.tilde {
  display: inline-block;
  font-family: Forum, cursive;
  font-size: 8rem;
  color: #332a2b;
  margin: 0px;
}

#right-tilde {
  transform: scaleX(-1);
}

#reveal-button {
  border: none;
  height: 150px;
  width: 130px;
  background: none;
  background-image: url(../images/crystallball-light.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 2rem;
  cursor: pointer;
}

#reveal-button:hover {
  background-image: url(../images/crystallball-dark.png);
}

#fortune {
  grid-row: 3/3;
  font-family: Forum, cursive;
  font-size: 3rem;
  color: #332a2b;
  margin: 0px;
}

/* /////////// */
/* breakpoints */
/* /////////// */

/* 1770px */

@media screen and (max-width: 1770px) {
  #reveal-text {
    font-size: 9rem;
  }

  #fortune {
    font-size: 2.7rem;
  }
}

/* 1536px */

@media screen and (max-width: 1536px) {
  #container {
    height: 65vh;
  }

  #reveal-text {
    font-size: 8rem;
  }
}

/* 1183px */

@media screen and (max-width: 1183px) {
  #reveal-text {
    font-size: 9rem;
  }

  #fortune {
    font-size: 2.5rem;
  }
}

/* 1064px */

@media screen and (max-width: 1064px) {
  #reveal-text {
    font-size: 8rem;
  }
}

/* 944px */

@media screen and (max-width: 944px) {
  #container {
    height: 45vh;
  }

  #reveal-text {
    font-size: 7rem;
  }

  #reveal-button {
    height: 140px;
    width: 120px;
  }

  #fortune {
    font-size: 2.5rem;
  }
}

/* 827px */

@media screen and (max-width: 827px) {
  #reveal-text {
    font-size: 6.5rem;
  }

  .tilde {
    font-size: 7rem;
  }

  #reveal-button {
    height: 130px;
    width: 110px;
  }

  #fortune {
    font-size: 2.4rem;
  }
}

/* 768px */

@media screen and (max-width: 768px) {
  #reveal-text {
    font-size: 6rem;
  }
}

/* 709px */

@media screen and (max-width: 709px) {
  #container {
    height: 40vh;
  }

  #reveal-text {
    font-size: 5.5rem;
  }

  .tilde {
    font-size: 6rem;
  }

  #reveal-button {
    height: 120px;
    width: 100px;
  }

  #fortune {
    font-size: 2.1rem;
  }
}

/* 650px */

@media screen and (max-width: 650px) {
  #container {
    height: 70vh;
    padding: 20px;
  }

  #reveal-text {
    font-size: 7.5rem;
    line-height: 5.5rem;
    margin-top: 30px;
  }

  .tilde {
    font-size: 7rem;
  }

  #reveal-button {
    height: 130px;
    width: 110px;
  }

  #fortune {
    font-size: 2.5rem;
  }
}

/* 556px */

@media screen and (max-width: 556px) {
  #container {
    padding: 10px;
  }

  #reveal-text {
    font-size: 4.5rem;
    margin: 0px;
  }

  .tilde {
    font-size: 5rem;
  }

  #reveal-button {
    height: 90px;
    width: 70px;
    margin: 10px;
  }

  #fortune {
    font-size: 1.5rem;
  }
}

/* 480px */

@media screen and (max-width: 480px) {
  #reveal-text {
    font-size: 6rem;
  }

  #fortune {
    font-size: 2.1rem;
  }
}

/* 376px */

@media screen and (max-width: 376px) {
  #container {
    height: 70vh;
  }

  #reveal-text {
    font-size: 5rem;
    line-height: 3.6rem;
  }

  .tilde {
    font-size: 5.5rem;
  }

  #reveal-button {
    height: 100px;
    width: 80px;
  }

  #fortune {
    font-size: 1.7rem;
  }
}

/* 360px */

@media screen and (max-width: 360px) {
}
